@font-face {
    font-family: 'Inter-Bold';
    src: url(../../assets/font/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(../../assets/font/Inter-Regular.ttf);
}

.top {
    background-color: #d63384;
}

.top, p {
    font-weight: 500;
    font-size: 1.5rem;
}

.top, h1, h2 {
    font-weight: 900;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
}

.menu .nav-item {
    flex-grow: 1;
    text-align: center;
}

.menu .nav-link {
    padding: 1rem;
}

.head {
    background-color: #ffffff;
    height: 80px;
    padding-top: 0px;
    padding-bottom: 30px;
}


.banerpost {
    position: absolute;
    bottom: -41px;
    width: 50%;
    color: #f0f0f0;

}

.banerpostb {
    position: absolute;
    width: 20%;
    border-radius: 30px;
    background-color: #f0f0f000;
    text-align: center;
    border: 2px solid white;
}

.mdle {
    background-color: #e8e8e8;
    padding-top: 80px;
    padding-bottom: 65px;
}

.mdle p, .mdle h1 {
    font-family: 'Inter-Regular', sans-serif;
}

.degine {
    background-color: #ffffff;
    padding-top: 75px;
    padding-bottom: 50px;
}

* {
    box-sizing: border-box;
}

body {
    --page-gutter: clamp(1rem, 4vw, 2rem);
    font-family: system-ui, sans-serif;
    line-height: 1.4;
    margin: 0;
}

main {
    inline-size: min(60rem, 100% - var(--page-gutter) * 2);
    margin: 4rem auto;
}

.wrapper {
    display: flex;
    overscroll-behavior-x: contain;
    overflow-x: auto;
    margin-inline: calc(var(--page-gutter) * -1);
    padding-inline: var(--page-gutter);
    padding-block: 1rem;
}

h1 {
    line-height: 1.2;
}

table {
    border-spacing: 0;
    overflow: hidden;
    inline-size: 100%;
    text-align: left;
    background-color: inherit;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px -2px rgba(14, 30, 37, 0.12);
}

:is(th, td) {
    padding: 1rem;
    min-inline-size: 10rem;
    border-block-end: 1px solid lightgray;
}

tfoot :is(th, td) {
    border-block-end: unset;
}

tfoot tr {
    background-color: whitesmoke;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.news {
    background-color: #dc3373;
}

.pazel {
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 45px;
}

.contact {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;

}

.footer {
    background-color: #dc3373;
    padding-top: 60px;
    padding-bottom: 22px;
}

div {
    font-family: 'Inter-Regular', sans-serif;
}

.nav-item {
    font-size: 1.3rem;
    font-weight: 900;
}

.nav-link {
    color: #d63384;
}

.ls-logo {
    width: 145px;
}

.ls-mobile-logo{
    width: 165px;
}

.ls-btn {
    color: #ffffff;
}

.ls-title {
    color: #d63384;
}

.ls-paragraph {
    font-weight: 500;
    font-size: 1.5rem;
}

.ls-design-img {
    height: 170px;
}

table {
    margin-bottom: 0 !important;
}

tr {
    border: none;
}

th, td {
    padding: 5px;
    margin: -5px;
    border: none;
}

th div {
    background-color: #707070;
    border-radius: 12px;
    color: #ffffff;
    border: none;
    padding: 8px;
    font-weight: 300;
    font-size: 19px;
}

td div {
    background-color: #ffffff;
    border-radius: 12px;
    color: #000000;
    border: none;
    padding: 8px;
    font-weight: 300;
    font-size: 19px;
}

.ls-primary-color{
    color: #dc3373;
}

.ls-gray-color{
    color: #5c636a;
}

.ls-puzzle-img{
    width: 165px;
}

.ls-footer-logo{
    height: 78px;
}

.strike {
    position: relative;
    display: inline-block;
    color: #707070;
}

.strike::before {
    content: '';
    border-bottom: 2px solid #dc3373;
    width: 109%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: skewY(-200deg);
}

.head-row {
}

.head-row th {
    background-color: #707070;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 500;
    font-size: 21px;
    padding: 8px;
    margin: -5px;
}

.head-row th div {
    background-color: #707070;
    border-radius: 12px;
    color: #ffffff
}

.head-row2 {
    padding: 20px;
}

.head-row2 td {
    border-radius: 20px;
    border: none;
}

.table2 {
    background-color: #e8e8e8;
    padding-top: 80px;
    padding-bottom: 60px;
}

.head1 {
    font-size: 5rem;
    color: #ffffff;
    font-weight: 900;
}

.head2 {
    font-size: 10rem;
    color: #dc3373;
    text-shadow: -1px 13px 20px rgb(0 0 0 / 59%);
}


.head3 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: -1px 5px 6px rgb(0 0 0 / 60%);
}

.navbar-collapse {
    background-color: #ffffff;
    z-index: 9999;
}

.collorr {
    color: #dc3373;
}

.sixe {
    font-weight: 500;
    font-size: 0.8rem;
    color: #707070;
}

.head4 {
    font-weight: 900;
}

.head5 {
    font-size: 3rem;
}

.head6 {
    color: #707070;
    font-weight: bold;
    padding-bottom: 35px;
}

.foter {
    color: #ffffff;
    line-height: 35px;
}


@media only screen and (max-width: 992px) {
    .top p{
        font-size: 0.7rem;
    }

    .ls-paragraph{
        font-size: 0.8rem;
    }

    .mdle {
        background-color: #e8e8e8;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .degine {
        background-color: #ffffff;
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .ls-design-img {
        height: 130px;
    }

    .table2 {
        background-color: #e8e8e8;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .head5 {
        font-size: 2rem;
    }

    .pazel {
        background-color: #e8e8e8;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer {
        background-color: #dc3373;
        padding-top: 55px;
        padding-bottom: 22px;
    }

    .foter {
        color: #ffffff;
        line-height: 20px;
    }

    .top, p {
        font-weight: 500;
        font-size: 1rem;
    }

    .contact {
        background-color: #ffffff;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    .head{
        height: 95px;
    }

    .head-row {
        font-size: 15px;
    }

    .head-row2 {
        font-size: 15px;
    }

    .banerpostb {
        width: 50%;
    }

    .banerpostb button {
        font-size: 15px;
    }

    .carousel-caption {
        bottom: 25%;
    }

    .head1 {
        font-size: 1.5rem;
        margin-bottom: unset;
    }

    .head2 {
        font-size: 2.5rem;
    }

    .head3 {
        font-size: 1rem;
    }

    .navbar-collapse {
        background-color: #ffffff;
        z-index: 9999;
    }
}
